.itemdetail__container {
    grid-area: content;
    background-color: rgb(210, 210, 210);
    color: black;
}

.itemdetail__card {
    gap: 20px;
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.itemdetail__card--image {
    background-color: blue;
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.itemdetail__card--description {
    flex-grow: 1;
}

.description__divider {
    background-color: rgb(201, 201, 201);
    height: 1px;
    width: 100%;
}

.description__top h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8em;
}

.description__top h2 {
    font-weight: 200;
}

.description__top h3 {
    margin: 20px 0;
    font-size: 1.6em;
    font-weight: 400;
}

/* TALLES */

.clothsize__selector {
    height: 100px;
    padding: 25px 0;
    gap: 10px;
}

.clothsize__selector--box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    width: 50px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.clothsize__selector--box:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
}

/* CANTIDAD */

.quantity__selector {
    height: 50px;
    margin: 25px 0;
    width: fit-content;
    border: 1px solid rgb(200, 200, 200);
}

.quantity__selector > div {
    display: flex;
    justify-content: center;
}

.quantity__selector--left, .quantity__selector--right {
    width: 50px;
    font-size: 1.5em;
    align-items: baseline;
    font-weight: 300;
    color: rgb(0, 140, 255);
}

.quantity__selector--left:hover, .quantity__selector--right:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
}

.quantity__selector--middle {
    width: 100px;
    align-items: center;
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    .itemdetail__card {
        flex-direction: column;
    }

    .itemdetail__card--image {
        width: 100%;
        height: 50%;
    }

    .clothsize__selector {
        align-self: center;
    }
    
    .quantity__selector {
        align-self: center;
    }
}