.marketnavbar__container {
    color: rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    height: 60px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}