.marketwelcome__container {
    grid-area: content;
    color: black;
    flex-grow: 1;
    /* width: 100vw; */
    overflow: hidden;
}

.marketwelcome__cardscontainer {
    padding: 20px 20px;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .marketwelcome__cardscontainer {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
        gap: 20px;
    }
}