.checkout__form {
    width: 400px;
}

.checkout__form--fields {
    gap: 10px;
}

.checkout__form--fields p {
    font-size: 0.8em;
    color: red;
}

.checkout__form--fields input {
    outline: 0;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(177, 177, 177);
}

.checkout__form--fields input:focus {
    border: 1px solid black;
}