.main__container {
    height: 100vh;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:    "sidebar header"
                            "sidebar slider";
}


@media (max-width: 1500px) {
    .main__container {
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 70px;
        grid-template-areas:    "header"
                                "slider"
                                "sidebar";
    }
}