.main__container {
    background: url('https://cdn.wallpapersafari.com/33/14/A6T8OK.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:    "sidebar header"
                            "sidebar slider";
}