.marketcard__container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 200px;
    height: 250px;
    transition: 0.05s all ease-in-out;
}

.marketcard__container:hover {
    transform: scale(1.03);
    transition: 0.1s all ease-in-out;
}

.marketcard__image {
    height: 50%;
}

.marketcard__text {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.marketcard__text h4 {
    font-size: 1.2em;
    font-weight: 400;
}