.header__container {
    grid-area: header;
    
    height: 100px;
    padding: 0 60px;

    align-items: center;
    justify-content: space-between;
    
    backdrop-filter: blur(6px);
    background-color: rgb(15, 15, 15);
}

.header__logo {
    width: 360px;
    filter: saturate(0) brightness(100);
}

.header__carticon img {
    width: 30px;
    filter: invert(1);
}

.header__carticon {
    gap: 10px;
}

.header__carticon p {
    background-color: rgb(163, 0, 0);
    border-radius: 100%;
    font-weight: 300;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: -15px;
    top: -10px;
    font-size: 0.9em;
}


@media (max-width: 1000px) {
    .header__container {
        padding: 0 20px;
        height: 70px;
    }

    .header__logo {
        width: 320px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        width: 260px;
    }
}