.header__container {
    grid-area: header;
    
    height: 100px;
    padding: 0 60px;

    align-items: center;
    justify-content: space-between;
    
    backdrop-filter: blur(6px);
    background-color: rgb(15, 15, 15);
}

.header__container img:last-of-type {
    width: 30px;
    filter: invert(1);
}

.header__container img:first-of-type {
    width: 360px;
    filter: saturate(0) brightness(100);
}

@media (max-width: 1000px) {
    .header__container {
        padding: 0 20px;
        height: 70px;
    }

    .header__container img:first-of-type {
        width: 320px;
    }
}

@media (max-width: 600px) {
    .header__container img:first-of-type {
        width: 260px;
    }
}