.header__container {
    grid-area: header;
    
    height: 100px;
    padding: 0 60px;

    align-items: center;
    justify-content: space-between;
    
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.9);
}

.header__container img {
    width: 360px;
    filter: saturate(0) brightness(100);
}