.market__container {
    background-color: rgb(210, 210, 210);
    grid-area: content;
    height: 100%;
}

@media (max-width: 1100px) {
    .market__container {
        padding-bottom: 70px; 
    }
}