.sidebar__container {
    background-color: rgba(35, 35, 35, 0.8);
    backdrop-filter: blur(12px);

    grid-area: sidebar;

    position: absolute;
    padding: 40px 0;
    height: 100%;
    width: 80px;
    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: 0.2s all ease-in-out;
}

.sidebar__container img {
    filter: invert(1);
    opacity: 0.5;
}

.sidebar__container img:hover {
    opacity: 1;
    cursor: pointer;
}

.sidebar__icon {
    justify-content: center;
    align-items: center;
}

.sidebar__icon img {
    transition: 0.2s all ease-in-out;

    transform: rotate(90deg);
    width: 30px;
    height: 30px;
}

.sidebar__social {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar__social img {
    width: 25px;
    height: 25px;
    transition: 0.2s all ease-in-out;
}

.sidebar__menu {
    opacity: 0;
    animation: opacity 0.2s forwards 0.2s;
}

.sidebar__menu ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.4em;
    letter-spacing: 6px;
    color: rgb(180, 180, 180);
}

.sidebar__menu ul li {
    padding: 4px 10px;
}

.sidebar__menu ul li:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 1500px) {
    .sidebar__container {
        background-color: rgb(35, 35, 35);

        grid-area: sidebar;

        position: sticky;
        padding: 30px;
        height: 70px;
        width: 100%;
        bottom: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar__social {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .sidebar__icon img {
        transform: rotate(0deg);
        width: 30px;
        height: 30px;
    }
}