@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.slider__container {
    grid-area: slider;
    display: flex;
    flex-direction: row;
}

/* RIGHT SIDE */

.slider__rightside {
    position: relative;
    width: 60%;
    
    background: url('https://taverniti.vteximg.com.br/arquivos/ids/255413-2000-2500/02679_602X1.jpg?v=638019640032800000');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__rightside--floating {
    transform: rotate(90deg);
    position: relative;
    max-width: 700px;
    padding: 0 30px;
    height: 100px;
    left: -300px;
    top: 300px;
    
    color: rgb(255, 255, 255);
    background-color: rgb(160, 160, 160);

    font-size: 3em;
    font-family: 'Libre Baskerville', serif;

    justify-content: flex-start;
    align-items: center;
}

/* LEFT SIDE */

.slider__leftside {
    width: 40%;
    background-color: rgb(255, 255, 255);
    color: black;

    justify-content: center;
    align-items: center;
}

.slider__leftside--divider {
    background-color: rgb(170, 170, 170);
    height: 1px;
    margin: 10px 0;
}

.slider__leftside--text {
    width: 500px;
    gap: 10px;
}

.slider__leftside--text h1 {
    text-align: end;
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    font-weight: 100;
}

.slider__leftside--text h2 {
    text-align: end;
    align-self: flex-end;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 20px;
}

.slider__leftside--text h2::after {
    content: "";
    margin-right: -20px;
}

.slider__leftside--text p {
    text-align: end;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
    .slider__container {
        flex-direction: column;
    }
    .slider__rightside {
        width: 100%;
        height: 400px;
    }
    .slider__leftside {
        width: 100%;
        padding: 40px 0;
    
        justify-content: center;
        align-items: center;
    }
    .slider__rightside--floating {
        transform: rotate(90deg);
        position: relative;
        max-width: 400px;
        padding: 0 40px;
        height: 100px;
        left: -150px;
        top: 150px;
        
        color: rgb(255, 255, 255);
        background-color: rgb(160, 160, 160);
    
        font-size: 1.6em;
        font-family: 'Libre Baskerville', serif;
    
        justify-content: flex-start;
        align-items: center;
    }
}