.slider__container {
    grid-area: content;
    display: flex;
    flex-direction: row;
}

/* RIGHT SIDE */

.slider__rightside {
    position: relative;
    width: 60%;
}

.slider__rightside--floating {
    transform: rotate(90deg);
    position: relative;
    padding: 0 30px;
    height: 100px;
    left: -282px;
    max-width: 665px;
    top: 283px;
    
    color: rgb(255, 255, 255);
    background-color: rgb(160, 160, 160);

    font-size: 3em;
    font-family: 'Libre Baskerville', serif;

    justify-content: flex-start;
    align-items: center;
}

/* LEFT SIDE */

.slider__leftside {
    width: 40%;
    background-color: rgb(255, 255, 255);
    color: black;

    justify-content: space-between;
    align-items: center;
}

.slider__leftside--divider {
    background-color: rgb(170, 170, 170);
    height: 1px;
    margin: 10px 0;
}

.slider__leftside--text {
    width: 100%;
    padding: 100px;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
}

.slider__leftside--text h1 {
    text-align: end;
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    font-weight: 100;
}

.slider__leftside--text h2 {
    text-align: end;
    align-self: flex-end;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 20px;
}

.slider__leftside--text h2::after {
    content: "";
    margin-right: -20px;
}

.slider__leftside--text p {
    text-align: end;
}

.slider__leftside--cards {
    background-color: rgb(160, 160, 160);
    height: 200px;
    width: 100%;

    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
    .slider__container {
        flex-direction: column;
    }

    .slider__rightside {
        width: 100%;
        height: 400px;
    }

    .slider__leftside {
        width: 100%;
        padding: 40px 0;
    
        justify-content: center;
        align-items: center;
    }

    .slider__rightside--floating {
        transform: rotate(90deg);
        position: relative;
        max-width: 400px;
        padding: 0 40px;
        height: 100px;
        left: -150px;
        top: 150px;
        
        color: rgb(255, 255, 255);
        background-color: rgb(160, 160, 160);
    
        font-size: 1.6em;
        font-family: 'Libre Baskerville', serif;
    
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .slider__container {
        padding-bottom: 70px;
    }
}

@media (max-width: 700px) {
    .slider__leftside--text {
        width: fit-content;
        padding: 0 30px;
    }
}

@media (max-width: 550px) {
    .slider__leftside--text h1 {
        font-size: 2.5em;
    }
    
    .slider__leftside--text h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 450px) {
    .slider__leftside--text h1 {
        font-size: 2.2em;
    }
}